<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>This is a Twitter clone built as a technical example by <a href ="http://willmeaton.com/">William Meaton</a></p>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/vexparadox/">GitHub</a></li>
            <li><a href="https://twitter.com/Vexparadox">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/willmeaton">LinkedIn</a> </li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->
